/* ---------------------------------------------------------
   1. Icon fonts styles
   2. General custom reset
   3. Common site styles
   ---------------------------------------------------------*/

/* ---------------------------------------------------------
   Icon fonts styles
   ---------------------------------------------------------*/

@font-face {
  font-family: "Simple-Line-Icons";
  src: url("../fonts/Simple-Line-Icons.eot?5sv48p");
  src: url("../fonts/Simple-Line-Icons.eot?#iefix5sv48p") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.svg?5sv48p") format("svg"), url("../fonts/Simple-Line-Icons.ttf?5sv48p") format("truetype"), url("../fonts/Simple-Line-Icons.woff?5sv48p") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?5sv48p");
  src: url("../fonts/icomoon.eot?#iefix5sv48p") format("embedded-opentype"), url("../fonts/icomoon.svg?5sv48p") format("svg"), url("../fonts/icomoon.ttf?5sv48p") format("truetype"), url("../fonts/icomoon.woff?5sv48p") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: "Simple-Line-Icons";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

[class^="icon-"],
[class*=" icon-"] {
  font-family: "Simple-Line-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-im-"],
[class*=" icon-im-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call-out:before {
  content: "\e046";
}

.icon-bubbles:before {
  content: "\e04a";
}

.icon-eye:before {
  content: "\e087";
}

.icon-im-boost:before {
  content: "\e900";
}

.icon-im-business-strategy:before {
  content: "\e901";
}

.icon-im-clock:before {
  content: "\e902";
}

.icon-im-online-support:before {
  content: "\e903";
}

.icon-im-quote:before {
  content: "\e904";
}

.icon-im-google:before {
  content: "\e905";
}

/* ---------------------------------------------------------
   2. General custom reset
   ---------------------------------------------------------*/

body {
  min-width: 320px;
}

body.navbar-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:before,
a:after {
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out, visibility .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* header styles */

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 9px 0 0;
  z-index: 1;
}

.navbar-default .navbar-toggle:hover {
  background: none;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background: #36a8ff;
}

.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle.collapsed:hover .icon-bar {
  background: #ffaf36;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

/* navbar styles */

.navbar {
  border-width: 0 0 1px;
}

.navbar .container {
  padding-top: 26px;
  padding-bottom: 29px;
}

.navbar .navbar-text {
  margin: 8px 0 0 22px;
  padding-left: 23px;
  position: relative;
  font-weight: 600;
}

.navbar .navbar-text:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.navbar .navbar-text:after {
  width: 1px;
  background: rgba(255, 255, 255, .15);
}

.navbar .navbar-text a {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-text a:hover {
  color: #ffaf36;
}

.navbar .navbar-text a [class^="icon-"] {
  color: #ffaf36;
  font-size: 21px;
  position: relative;
  top: 6px;
  margin-right: 7px;
}

.navbar-brand {
  height: auto;
}

/* page logo styles */

.logo {
  width: 164px;
  height: auto;
  position: relative;
  z-index: 1;
}

.logo img {
  display: block;
  width: 100%;
}

/* main navigation styles */

.navbar-nav {
  margin-top: 4px;
  margin-right: -23px;
  margin-left: -23px;
}

.navbar-nav > li {
  padding: 5px 23px;
}

.navbar-nav > li.active > a {
  font-weight: 700;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

/* button styles */

.btn {
  border-radius: 0;
  font-size: 13px;
  text-transform: uppercase;
  padding: 11px;
  border-width: 2px;
  min-width: 151px;
  letter-spacing: 1px;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: none;
}

.btn:hover:hover,
.btn:hover:focus,
.btn:hover:active,
.btn:focus:hover,
.btn:focus:focus,
.btn:focus:active,
.btn:active:hover,
.btn:active:focus,
.btn:active:active {
  background: none;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  color: #1c1c1c;
  border-color: #1c1c1c;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  color: #ffaf36;
  border-color: #ffaf36;
}

.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active {
  color: #36a8ff;
  border-color: #36a8ff;
}

.btn.btn-xs,
.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-lg {
  font-size: 18px;
}

.btn.btn-nobg {
  background: none;
}

.btn.btn-nobg.btn-default {
  color: #1c1c1c;
}

.btn.btn-nobg.btn-default:hover,
.btn.btn-nobg.btn-default:focus,
.btn.btn-nobg.btn-default:active {
  color: #fff;
  background: #1c1c1c;
}

.btn.btn-nobg.btn-primary {
  color: #ffaf36;
}

.btn.btn-nobg.btn-primary:hover,
.btn.btn-nobg.btn-primary:focus,
.btn.btn-nobg.btn-primary:active {
  color: #fff;
  background: #ffaf36;
}

.btn.btn-nobg.btn-info {
  color: #36a8ff;
}

.btn.btn-nobg.btn-info:hover,
.btn.btn-nobg.btn-info:focus,
.btn.btn-nobg.btn-info:active {
  color: #fff;
  background: #36a8ff;
}

.btn.btn-with-rd {
  border-radius: 22px;
}

.flex-layout {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-layout [class^="col-"] {
  float: none;
}

/* service block styles */

.service-block {
  padding-bottom: 45px;
  padding-left: 106px;
  position: relative;
}

.service-block h3 {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.service-block h3 a {
  color: #1c1c1c;
  display: inline-block;
  vertical-align: top;
}

.service-block h3 a:hover,
.service-block h3 a:focus {
  text-decoration: none;
}

.service-block h3 a:hover:before,
.service-block h3 a:focus:before {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}

.service-block h3 a:hover [class^="icon-"],
.service-block h3 a:focus [class^="icon-"] {
  color: #36a8ff;
}

.service-block h3 a:before {
  content: "";
  position: relative;
  top: -10px;
  left: 0;
  width: 15px;
  height: 2px;
  margin-bottom: -2px;
  background: #36a8ff;
  display: block;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.service-block h3 [class^="icon-"] {
  position: absolute;
  top: -2px;
  left: 0;
  font-size: 56px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.service-block h3 [class^="icon-"].icon-im-online-support {
  font-size: 62px;
}

.service-block h3 [class^="icon-"].icon-im-business-strategy {
  font-size: 49px;
  top: 4px;
}

.service-block h3 [class^="icon-"].icon-im-clock {
  font-size: 58px;
}

/* client testimonial block styles */

.client-testimonial {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
}

.client-testimonial.gray q:before {
  color: rgba(88, 88, 88, .1);
}

.client-testimonial.blue q:before {
  color: rgba(54, 168, 255, .15);
}

.client-testimonial.orange q:before {
  color: rgba(255, 175, 54, .3);
}

.client-testimonial q {
  display: block;
  quotes: none;
  position: relative;
}

.client-testimonial q:before {
  content: "\e904";
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -1;
  font: normal 62px/1 "icomoon";
}

.client-testimonial cite {
  font-style: normal;
  display: table;
  padding-top: 41px;
}

.client-testimonial cite .thumb {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}

.client-testimonial cite .des {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}

.client-testimonial .thumb {
  width: 68px;
  height: 68px;
  overflow: hidden;
}

.client-testimonial .thumb img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.client-testimonial .des {
  padding-top: 9px;
  padding-left: 39px;
}

.client-testimonial .name {
  display: block;
  color: #1c1c1c;
  font-weight: 800;
  line-height: 1;
  font-family: "Raleway", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.posts-wrap {
  padding-bottom: 35px;
  padding-left: 19px;
}

.posts-wrap + .btn {
  margin-left: 19px;
}

/* news post styles */

.news-post {
  padding-bottom: 18px;
  margin-bottom: 36px;
  border-bottom: 1px solid #d8dcdf;
}

.news-post.style-1 {
  padding-top: 2px;
}

.news-post.style-1 header {
  float: left;
  width: 98px;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 0;
  position: relative;
  margin-top: -6px;
}

.news-post.style-1 header .h-row {
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffaf36;
  display: block;
  line-height: 1.25;
  text-align: right;
}

.news-post.style-1 header .h-row:after {
  width: 14px;
  height: 1px;
  background: #1c1c1c;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
}

.news-post.style-1 header .h-row:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.news-post.style-1 header .h-row:last-child:after {
  content: none;
}

.news-post.style-1 header .h-row time {
  font-weight: 400;
  font-size: 14px;
  color: #1c1c1c;
  text-transform: none;
}

.news-post.style-1 header .h-row .number,
.news-post.style-1 header .h-row [class^="icon-"] {
  display: block;
  color: #1c1c1c;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3px;
}

.news-post.style-1 header .h-row [class^="icon-"] {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  margin-right: 6px;
}

.news-post.style-1 header .h-row a {
  color: #585858;
}

.news-post.style-1 header .h-row a:hover,
.news-post.style-1 header .h-row a:focus {
  text-decoration: none;
  color: #ffaf36;
}

.news-post.style-1 header .h-row a:hover [class^="icon-"],
.news-post.style-1 header .h-row a:focus [class^="icon-"] {
  color: #ffaf36;
}

.news-post.style-1 .des {
  overflow: hidden;
}

.news-post.style-1 .des .img {
  display: block;
  margin-bottom: 35px;
  overflow: hidden;
}

.news-post.style-1 .des .img:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.news-post.style-1 .des .img img {
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.news-post:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.news-post header {
  padding-bottom: 15px;
}

.news-post h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.news-post h3 a {
  color: #1c1c1c;
}

.news-post h3 a:hover,
.news-post h3 a:focus {
  color: #ffaf36;
  text-decoration: none;
}

.news-post time {
  display: block;
  color: #ffaf36;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 700;
}

/* pyramid styles */

.has-pyramid {
  position: relative;
  z-index: 0;
}

.has-pyramid:before,
.has-pyramid:after {
  position: absolute;
  bottom: 0;
  right: 19px;
  display: block;
}

.has-pyramid:before {
  height: 0;
  width: 0;
  border-bottom: 101px solid #36a8ff;
  border-left: 77.5px solid transparent;
  border-right: 77.5px solid transparent;
  z-index: -2;
  right: 82px;
}

.has-pyramid:after {
  height: 0;
  width: 0;
  border-bottom: 70px solid #ffaf36;
  border-left: 67.5px solid transparent;
  border-right: 67.5px solid transparent;
  z-index: -1;
}

.form-group {
  position: relative;
}

.form-control {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  padding: 9px 19px;
}

.input-placeholder-text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  top: 15px;
  left: 20px;
}

.input-placeholder-text:after {
  content: "*";
  color: #ffaf36;
  margin-left: 5px;
}

/* intro block styles */

.intro-block {
  position: relative;
  color: #fff;
}

.intro-block > .container {
  position: absolute;
  top: 115px;
  bottom: 71px;
  left: 0;
  right: 0;
  z-index: 3;
  white-space: nowrap;
}

.intro-block > .container:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: 100%;
}

.intro-block > .container > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}

.intro-block .txt-wrap {
  font-size: 15px;
  font-style: italic;
  font-family: "Lora", "Times New Roman", Times, Baskerville, Georgia, serif;
  padding-bottom: 41px;
}

.intro-block h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.intro-block h1 small {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}

.intro-block .btn {
  color: #1c1c1c;
}

/* main slideshow styles */

.slideshow {
  position: relative;
}

.slideshow.not-enough-slides a.btn-prev,
.slideshow.not-enough-slides a.btn-next {
  visibility: hidden;
}

.slideshow .slide {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  overflow: hidden;
}

.slideshow .slide.active {
  z-index: 2;
}

.slideshow .img {
  float: left;
  left: 50%;
  min-width: 1970px;
  position: relative;
  width: 100%;
  opacity: .4;
}

.slideshow .img img {
  float: left;
  height: auto;
  left: -50%;
  position: relative;
  width: 100%;
}

.slideshow .slideshow-pagination {
  position: absolute;
  bottom: 46px;
  left: 0;
  right: 0;
  z-index: 3;
}

.slideshow .slideshow-pagination ul {
  letter-spacing: -4px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slideshow .slideshow-pagination ul > * {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 2;
}

.slideshow .slideshow-pagination ul li {
  padding: 6px;
}

.slideshow .slideshow-pagination ul li.active a:before,
.slideshow .slideshow-pagination ul li.active a:after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.slideshow .slideshow-pagination ul a {
  display: block;
  background: #8f8f8f;
  position: relative;
  width: 25px;
  height: 4px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.slideshow .slideshow-pagination ul a:hover:before,
.slideshow .slideshow-pagination ul a:hover:after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.slideshow .slideshow-pagination ul a:before,
.slideshow .slideshow-pagination ul a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
  background: #ffaf36;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.slideshow .slideshow-pagination ul a:after {
  left: auto;
  right: 0;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}

/* about us block styles */

.about-us-block {
  padding-top: 91px;
  padding-bottom: 97px;
}

.about-us-block p {
  margin-bottom: 25px;
}

/* block header styles */

.header h2 {
  line-height: 1.1;
  font-weight: 900;
  margin-top: 3px;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header p {
  font-size: 15px;
  line-height: 1.3;
  font-style: italic;
  font-family: "Lora", "Times New Roman", Times, Baskerville, Georgia, serif;
  margin-bottom: 0;
}

/* services block styles */

.services-block {
  background: #eaeff3;
}

.services-block .header {
  padding-bottom: 72px;
}

.services-block .container {
  padding-top: 90px;
  padding-bottom: 100px;
}

.services-block .flex-layout {
  padding-bottom: 9px;
}

/* client testimonials block styles */

.client-testimonials-block {
  padding-top: 90px;
  padding-bottom: 88px;
}

.client-testimonials-block .header {
  padding-bottom: 24px;
}

.carousel .slick-list {
  margin-right: -30px;
  margin-left: -30px;
  padding-top: 30px;
}

.carousel .client-testimonial {
  padding-right: 30px;
  padding-left: 30px;
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: -4px;
  font-size: 0;
  line-height: 0;
  padding-top: 56px;
  margin-right: -3px;
  margin-left: -3px;
}

.slick-dots > * {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 2;
}

.slick-dots li {
  padding: 3px;
}

.slick-dots li.slick-active button {
  background: #ffaf36;
}

.slick-dots button {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  display: block;
  background: #36a8ff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.slick-dots button:hover {
  background: #ffaf36;
}

/* news block styles */

.news-block {
  background: #eaeff3;
  padding-top: 91px;
  padding-bottom: 98px;
}

.news-block .header {
  padding-bottom: 47px;
}

/* partners block styles */

.partners-block {
  padding-top: 91px;
  padding-bottom: 94px;
}

.partners-block .header {
  padding-bottom: 40px;
}

.carousel-1 .slick-list {
  border: 1px solid #eaeff3;
}

.carousel-1 .slick-list .slick-track {
  display: table;
  table-layout: fixed;
}

.carousel-1 .slick-list .slick-slide {
  position: relative;
  padding: 5px;
  text-align: center;
  float: none;
  height: 126px;
  display: table-cell;
  vertical-align: middle;
}

.carousel-1 .slick-list .slick-slide:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.carousel-1 .slick-list .slick-slide:after {
  width: 1px;
  background: #eaeff3;
  left: -1px;
}

.carousel-1 .slick-list .slick-slide img {
  margin-right: auto;
  margin-left: auto;
}

.carousel-1 .slick-dots {
  padding-top: 31px;
}

/* footer styles */

#footer {
  background: #2a2b2c;
  color: #8e8e8e;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
}

#footer .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -1px;
  font: 700 18px/1.1 "Open Sans", Verdana, Geneva, sans-serif;
  margin-top: 0;
  margin-bottom: 36px;
}

#footer .logo {
  margin-top: 44px;
  margin-bottom: 16px;
}

#footer .copyright {
  padding-bottom: 37px;
}

#footer .form-control {
  font-weight: 400;
}

#footer .footer-nav h2 {
  margin-bottom: 23px;
}

.copyright {
  display: block;
  text-transform: uppercase;
}

/* social networking options styles */

.social-networks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks:before,
.social-networks:after {
  content: " ";
  display: table;
}

.social-networks:after {
  clear: both;
}

.social-networks li {
  float: left;
  margin-right: 9px;
}

.social-networks a {
  display: block;
  border: 1px solid #373839;
  color: #8a8a8a;
  text-align: center;
  width: 29px;
  height: 29px;
  position: relative;
}

.social-networks a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.social-networks a:hover,
.social-networks a:focus {
  color: #ffaf36;
  text-decoration: none;
  border-color: #ffaf36;
}

.social-networks a:hover:after,
.social-networks a:focus:after {
  border-color: #ffaf36;
  -webkit-animation-name: border-fade-out;
  animation-name: border-fade-out;
}

.social-networks a:after {
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.social-networks a i {
  font-size: 15px;
  line-height: 1.9;
}

.social-networks a i.icon-im1-google {
  font-size: 16px;
  line-height: 1.6;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  max-width: 165px;
  letter-spacing: 1px;
}

.footer-nav ul li {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.footer-nav ul li + li {
  border-top: 1px solid #373839;
}

.footer-nav ul a {
  color: #7b7b7c;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 25px;
}

.footer-nav ul a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.footer-nav ul a:hover,
.footer-nav ul a:focus {
  color: #ffaf36;
  text-decoration: none;
}

.footer-nav ul a:before {
  top: 5px;
  height: 0;
  width: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ffaf36;
  border-top: 4px solid transparent;
}

/* contact form styles */

.contact-form .form-inline {
  letter-spacing: -4px;
  font-size: 0;
  line-height: 0;
}

.contact-form .form-inline > * {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 2;
}

.contact-form .form-inline .form-group {
  width: 50%;
  margin-bottom: -1px;
}

.contact-form .form-inline .form-group:nth-child(even) .form-control {
  border-left-color: transparent;
}

.contact-form .form-inline .form-group .form-control {
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
  min-height: 97px;
  width: 100%;
  max-width: 100%;
}

.contact-form .form-group {
  margin-bottom: 0;
  position: relative;
}

.contact-form .form-group:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.contact-form .form-group.input-error:after {
  border-color: #f00;
}

.contact-form .form-group:after {
  right: 0;
  bottom: -1px;
  border: 1px solid transparent;
  pointer-events: none;
}

.contact-form .btn-submit {
  padding-top: 10px;
}

.contact-form .form-control {
  box-shadow: none;
}

.contact-form .form-control:focus {
  box-shadow: none;
  border-color: #373839;
}

/* ---------------------------------------------------------
   3. Сommon site styles
   ---------------------------------------------------------*/

/* main container styles */

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
  	cursor: default;
  	pointer-events: none;
  }
}

@media (max-width: 1199px) {
  .navbar .navbar-text {
  	margin-top: 8px;
  	margin-left: 10px;
  	padding-left: 10px;
  }

  .navbar-nav {
  	margin-right: -12px;
  	margin-left: -12px;
  }

  .navbar-nav > li {
  	padding-right: 12px;
  	padding-left: 12px;
  }

  .navbar-nav > li > a {
  	font-size: 13px;
  }

  .about-us-block {
  	padding-top: 51px;
  	padding-bottom: 51px;
  }

  .services-block .header {
  	padding-bottom: 40px;
  }

  .services-block .container {
  	padding-top: 50px;
  	padding-bottom: 50px;
  }

  .client-testimonials-block {
  	padding-top: 50px;
  	padding-bottom: 50px;
  }

  .news-block {
  	padding-top: 50px;
  	padding-bottom: 50px;
  }

  .news-block .header {
  	padding-bottom: 40px;
  }

  .partners-block {
  	padding-top: 50px;
  	padding-bottom: 65px;
  }

  .partners-block .header {
  	padding-bottom: 30px;
  }

  #footer .container {
  	padding-top: 50px;
  	padding-bottom: 50px;
  }

  .footer-nav ul {
  	max-width: 250px;
  }
}

@media (max-width: 991px) {
  .navbar .container {
  	padding-top: 18px;
  	padding-bottom: 18px;
  }

  .navbar .navbar-text {
  	margin-top: 7px;
  	margin-left: 7px;
  	font-size: 12px;
  	padding-left: 8px;
  }

  .navbar .navbar-text:after {
  	top: 3px;
  	bottom: 3px;
  }

  .navbar .navbar-text a [class^="icon-"] {
  	font-size: 16px;
  	top: 3px;
  	margin-right: 3px;
  }

  .logo {
  	width: 130px;
  }

  .navbar-nav {
  	margin-top: 0;
  	margin-right: -8px;
  	margin-left: -8px;
  }

  .navbar-nav > li {
  	padding-right: 8px;
  	padding-left: 8px;
  }

  .navbar-nav > li > a {
  	font-size: 12px;
  }

  .service-block {
  	padding-bottom: 30px;
  	padding-left: 75px;
  }

  .service-block h3 [class^="icon-"] {
  	font-size: 45px;
  }

  .service-block h3 [class^="icon-"].icon-im-online-support {
  	font-size: 46px;
  }

  .service-block h3 [class^="icon-"].icon-im-business-strategy {
  	font-size: 43px;
  }

  .service-block h3 [class^="icon-"].icon-im-clock {
  	font-size: 46px;
  }

  .posts-wrap {
  	padding-top: 30px;
  	padding-bottom: 20px;
  	padding-left: 0;
  }

  .posts-wrap + .btn {
  	margin-left: 0;
  }

  .intro-block .txt-wrap {
  	font-size: 14px;
  	padding-bottom: 21px;
  }

  .intro-block h1 {
  	font-size: 50px;
  }

  .intro-block h1 small {
  	font-size: 15px;
  }

  .slideshow .img {
  	min-width: 1800px;
  }

  .about-us-block {
  	padding-top: 35px;
  	padding-bottom: 40px;
  }

  .services-block .container {
  	padding-top: 35px;
  	padding-bottom: 43px;
  }

  .client-testimonials-block {
  	padding-top: 35px;
  	padding-bottom: 40px;
  }

  .carousel .slick-list {
  	margin-right: -15px;
  	margin-left: -15px;
  }

  .carousel .client-testimonial {
  	padding-right: 15px;
  	padding-left: 15px;
  }

  .slick-dots {
  	padding-top: 40px;
  }

  .news-block {
  	padding-top: 35px;
  	padding-bottom: 40px;
  }

  .partners-block {
  	padding-top: 35px;
  }

  #footer .logo {
  	margin-top: 0;
  }

  .contact-form .form-inline .form-group {
  	width: 100%;
  }

  .contact-form .form-inline .form-group:nth-child(even) .form-control {
  	border-left-color: #373839;
  }
}

@media (max-width: 767px) {
  h1,
  .h1 {
  	font-size: 30px;
  }

  h2,
  .h2 {
  	font-size: 25px;
  }

  h3,
  .h3 {
  	font-size: 21px;
  }

  .navbar .navbar-text {
  	margin-top: 9px;
  	padding-left: 7px;
  	font-size: 10px;
  	float: left;
  }

  .navbar .navbar-text:after {
  	bottom: 2px;
  }

  .navbar .navbar-text a [class^="icon-"] {
  	font-size: 11px;
  	margin-right: 1px;
  	top: 1px;
  }

  .navbar .navbar-collapse {
  	box-shadow: none;
  	border-top: none;
  	margin-right: 0;
  	margin-left: 0;
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: #ffaf36;
  	height: auto !important;
  	display: block !important;
  	-webkit-transform: scale(0);
  	-ms-transform: scale(0);
  	transform: scale(0);
  	-webkit-transform-origin: top right;
  	-ms-transform-origin: top right;
  	transform-origin: top right;
  	-webkit-transition: -webkit-transform .3s ease-in-out;
  	transition: transform .3s ease-in-out;
  }

  .navbar .navbar-collapse.in {
  	-webkit-transform: none;
  	-ms-transform: none;
  	transform: none;
  	overflow: hidden;
  }

  .navbar-nav {
  	margin-top: 66px;
  	margin-right: 0;
  	margin-bottom: 0;
  	margin-left: 0;
  	max-height: -webkit-calc(100% - 66px);
  	max-height: calc(100% - 66px);
  	overflow-y: auto;
  }

  .navbar-nav > li {
  	padding: 0;
  	border-bottom: 1px solid rgba(255, 255, 255, .15);
  }

  .navbar-nav > li.active > a {
  	color: #36a8ff !important;
  }

  .navbar-nav > li:first-child {
  	border-top: 1px solid rgba(255, 255, 255, .15);
  }

  .navbar-nav > li > a {
  	padding: 10px 15px;
  	font-size: 15px;
  	text-align: center;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
  	color: #36a8ff !important;
  }

  .posts-wrap {
  	padding-top: 20px;
  }

  .news-post.style-1 header {
  	width: 83px;
  	padding-right: 15px;
  }

  .news-post.style-1 .des .img {
  	margin-bottom: 20px;
  }

  .has-pyramid:before,
  .has-pyramid:after {
  	right: 19px;
  }

  .has-pyramid:before {
  	right: 64px;
  	border-width: 0 57px 80px;
  }

  .has-pyramid:after {
  	border-width: 0 47px 50px;
  }

  .intro-block .txt-wrap {
  	line-height: 1.5;
  	padding-bottom: 10px;
  }

  .intro-block h1 {
  	font-size: 35px;
  }

  .intro-block h1 small {
  	line-height: 1.5;
  }

  .slideshow .img {
  	min-width: 1200px;
  }

  .slideshow .slideshow-pagination {
  	bottom: 15px;
  }

  .carousel .slick-list {
  	height: auto !important;
  }

  #footer .container {
  	padding-top: 25px;
  	padding-bottom: 25px;
  }

  #footer .container [class^="col-"] {
  	padding-bottom: 25px;
  	margin-bottom: 20px;
  	position: relative;
  }

  #footer .container [class^="col-"]:after {
  	content: "";
  	position: absolute;
  	left: 15px;
  	right: 15px;
  	bottom: 0;
  	background: #373839;
  	height: 1px;
  }

  #footer .container [class^="col-"]:last-child {
  	padding-bottom: 0;
  	margin-bottom: 0;
  }

  #footer .container [class^="col-"]:last-child:after {
  	content: none;
  }

  #footer h2 {
  	margin-bottom: 17px;
  }

  #footer .footer-nav h2 {
  	margin-bottom: 17px;
  }
}

@-webkit-keyframes border-fade-out {
  100% {
  	top: -7px;
  	right: -7px;
  	bottom: -7px;
  	left: -7px;
  	opacity: 0;
  }
}

@keyframes border-fade-out {
  100% {
  	top: -7px;
  	right: -7px;
  	bottom: -7px;
  	left: -7px;
  	opacity: 0;
  }
}
