/* ---------------------------------------------------------
   2. General custom reset
   ---------------------------------------------------------*/

body {
  min-width: $base-min-width;

  &.navbar-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  @include animate(color background opacity border visibility box-shadow);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  @include animate(color background opacity border visibility box-shadow);
  &:before,
  &:after {
    @include animate(color background opacity border visibility box-shadow);
  }
}

h1,
.h1 {
  @include media('<tablet') {
    font-size: 30px;
  }
}

h2,
.h2 {
  @include media('<tablet') {
    font-size: 25px;
  }
}

h3,
.h3 {
  @include media('<tablet') {
    font-size: 21px;
  }
}

@media only screen and (min-width:1025px) {
  a[href^=tel],a[href^=skype], a[href^=sms] {
    cursor:default;
    pointer-events:none;
  }
}