// home page styles
/* intro block styles */
.intro-block {
  position: relative;
  color: $white;

  >.container {
    position: absolute;
    top: 115px;
    bottom: 71px;
    left: 0;
    right: 0;
    z-index: 3;
    @include v-align(100%, middle, after);
  }

  .txt-wrap {
    font-size: 15px;
    font-style: italic;
    font-family: $font-family-serif;
    padding-bottom: 41px;

    @include media('<desktop') {
      font-size: 14px;
      padding-bottom: 21px;
    }

    @include media('<tablet') {
      line-height: 1.5;
      padding-bottom: 10px;
    }
  }

  h1 {
    @include margin(0 null);
    @include fz-lh-fw(60px, 1.1, 800);
    text-transform: uppercase;
    color: $white;

    @include media('<desktop') {
      font-size: 50px;
    }

    @include media('<tablet') {
      font-size: 35px;
    }

    small {
      display: block;
      color: $white;
      letter-spacing: 1px;
      @include fz-lh-fw(16px, 1.2, 600);

      @include media('<desktop') {
        font-size: 15px;
      }

      @include media('<tablet') {
        line-height: 1.5;
      }
    }
  }

  .btn {
    color: #1c1c1c;
  }
}

/* main slideshow styles */
.slideshow {
  position: relative;

  &.not-enough-slides a.btn-prev,
  &.not-enough-slides a.btn-next {
    visibility: hidden;
  }

  .slide {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background: $black;
    overflow: hidden;

    &.active {
      z-index: 2;
    }
  }

  .img {
    float: left;
    left: 50%;
    min-width: 1970px;
    position: relative;
    width: 100%;
    opacity: 0.4;

    @include media('<desktop') {
      min-width: 1800px;
    }

    @include media('<tablet') {
      min-width: 1200px;
    }

    img {
      float: left;
      height: auto;
      left: -50%;
      position: relative;
      width: 100%;
    }
  }

  .slideshow-pagination {
    position: absolute;
    bottom: 46px;
    left: 0;
    right: 0;
    z-index: 3;

    @include media('<tablet') {
      bottom: 15px;
    }

    ul {
      @include dib-reset;
      @include listreset;
      text-align: center;

      li {
        padding: 6px;

        &.active {

          a {

            &:before,
            &:after {
              transform: none;
            }
          }
        }
      }

      a {
        display: block;
        background: #8f8f8f;
        position: relative;
        @include size(25px, 4px);
        @include hide-text;

        &:hover {

          &:before,
          &:after {
            transform: none;
          }
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          bottom: 0;
          background: $brand-primary;
          transform: translateX(200%);
          @include animate(transform);
        }

        &:after {
          left: auto;
          right: 0;
          transform: translateX(-200%);
        }
      }
    }
  }
}

/* about us block styles */
.about-us-block {
  @include padding(91px null 97px);

  @include media('<widescreen') {
    @include padding(51px null);
  }

  @include media('<desktop') {
    @include padding(35px null 40px);
  }

  p {
    margin-bottom: 25px;
  }
}

/* block header styles */
.header {

  h2 {
    line-height: 1.1;
    font-weight: 900;
    @include margin(3px null 4px);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  p {
    @include fz-lh(15px, 1.3);
    font-style: italic;
    font-family: $font-family-serif;
    margin-bottom: 0;
  }
}

/* services block styles */
.services-block {
  background: #eaeff3;

  .header {
    padding-bottom: 72px;

    @include media('<widescreen') {
      padding-bottom: 40px;
    }
  }

  .container {
    @include padding(90px null 100px);

    @include media('<widescreen') {
      @include padding(50px null);
    }

    @include media('<desktop') {
      @include padding(35px null 43px);
    }
  }

  .flex-layout {
    padding-bottom: 9px;
  }
}

/* client testimonials block styles */
.client-testimonials-block {
  @include padding(90px null 88px);

  @include media('<widescreen') {
    @include padding(50px null);
  }

  @include media('<desktop') {
    @include padding(35px null 40px);
  }

  .header {
    padding-bottom: 24px;
  }
}

.carousel {

  .slick-list {
    @include margin(null -30px);
    padding-top: 30px;

    @include media('<desktop') {
      @include margin(null -15px);
    }

    @include media('<tablet') {
      height: auto !important;
    }
  }

  .client-testimonial {
    @include padding(null 30px);

    @include media('<desktop') {
      @include padding(null 15px);
    }
  }
}

.slick-dots {
  @include listreset;
  @include dib-reset;
  padding-top: 56px;
  @include margin(null -3px);

  @include media('<desktop') {
    padding-top: 40px;
  }

  li {
    padding: 3px;

    &.slick-active {

      button {
        background: $brand-primary;
      }
    }
  }

  button {
    @include hide-text;
    background: none;
    border: none;
    padding: 0;
    display: block;
    background: $brand-info;
    border-radius: 50%;
    @include size(9px);
    @include animate(background);

    &:hover {
      background: $brand-primary;
    }
  }
}

/* news block styles */
.news-block {
  background: #eaeff3;
  @include padding(91px null 98px);

  @include media('<widescreen') {
    @include padding(50px null);
  }

  @include media('<desktop') {
    @include padding(35px null 40px);
  }

  .header {
    padding-bottom: 47px;

    @include media('<widescreen') {
      padding-bottom: 40px;
    }
  }
}

/* partners block styles */
.partners-block {
  @include padding(91px null 94px);

  @include media('<widescreen') {
    @include padding(50px null 65px);
  }

  @include media('<desktop') {
    padding-top: 35px;
  }

  .header {
    padding-bottom: 40px;

    @include media('<widescreen') {
      padding-bottom: 30px;
    }
  }
}

.carousel-1 {

  .slick-list {
    border: 1px solid #eaeff3;

    .slick-track {
      display: table;
      table-layout: fixed;
    }

    .slick-slide {
      @include add-elem;
      padding: 5px;
      text-align: center;
      float: none;
      height: 126px;
      display: table-cell;
      vertical-align: middle;

      &:after {
        width: 1px;
        background: #eaeff3;
        left: -1px;
      }

      img {
        @include margin(null auto);
      }
    }
  }

  .slick-dots {
    padding-top: 31px;
  }
}