// custom variables and override bootstrap variables

// Colors
$gray-base: #585858;
$brand-primary: #ffaf36;
$brand-info: #36a8ff;

// Scaffolding
$text-color: $gray-base;

// Typography
$font-family-sans-serif: 'Open Sans', Verdana, Geneva, sans-serif;
$font-family-serif: 'Lora', "Times New Roman", Times, Baskerville, Georgia, serif;
$font-size-base: 14px;
$line-height-base: 2;
$headings-font-family: 'Raleway', Verdana, Geneva, sans-serif;
$headings-font-weight: 800;
$headings-color: #1c1c1c;
$line-height-computed: floor(($font-size-base * $line-height-base));

// Components
$padding-base-vertical: 6px;

// Buttons
$btn-font-weight: 700;
$btn-default-color: #fff;
$btn-default-bg: #1c1c1c;
$btn-default-border: #1c1c1c;
$btn-primary-border: $brand-primary;

// Navbar
$navbar-height: 0;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-padding-vertical: 0;
$navbar-default-color: #fff;
$navbar-default-bg: transparent;
$navbar-default-border: rgba(221, 228, 234,.15);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-hover-bg: $brand-primary;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: #fff;

// Forms
$input-bg: transparent;
$input-color: #737476;
$input-border: #373839;
$input-border-radius: 0;
$input-border-focus: #ffaf36;
$input-color-placeholder: #737476;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 7);