/* ---------------------------------------------------------
   1. Icon fonts styles
   2. General custom reset
   3. Common site styles
   ---------------------------------------------------------*/
@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

$breakpoints: (
  'xs-phone': 320px,
  'phone': $screen-xs,
  'tablet': $screen-sm,
  'desktop': $screen-md,
  'widescreen': $screen-lg
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'base/variables';
@import 'base/mixins';
@import 'base/icon-fonts';
@import 'base/sec-reset';

@import 'layouts/header';
@import 'layouts/common';

@import 'pages/home';

@import 'layouts/footer';

/* ---------------------------------------------------------
   3. Сommon site styles
   ---------------------------------------------------------*/

/* main container styles */
#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}