/* button styles */
.btn {
  border-radius: 0;
  font-size: 13px;
  text-transform: uppercase;
  padding: 11px;
  border-width: 2px;
  min-width: 151px;
  letter-spacing: 1px;

  &:hover,
  &:focus,
  &:active {
    background: none;

    &:hover,
    &:focus,
    &:active {
      background: none;
    }
  }

  &.btn-default {

    &:hover,
    &:focus,
    &:active {
      color: $btn-default-bg;
      border-color: $btn-default-bg;
    }
  }

  &.btn-primary {

    &:hover,
    &:focus,
    &:active {
      color: $brand-primary;
      border-color: $brand-primary;
    }
  }

  &.btn-info {

    &:hover,
    &:focus,
    &:active {
      color: $brand-info;
      border-color: $brand-info;
    }
  }

  &.btn-xs,
  &.btn-sm {
    font-size: 12px;
  }

  &.btn-lg {
    font-size: 18px;
  }

  &.btn-nobg {
    background: none;

    &.btn-default {
      color: $btn-default-bg;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        background: $btn-default-bg;
      }
    }

    &.btn-primary {
      color: $brand-primary;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        background: $brand-primary;
      }
    }

    &.btn-info {
      color: $brand-info;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        background: $brand-info;
      }
    }
  }

  &.btn-with-rd {
    border-radius: 22px;
  }
}

.flex-layout {
  @include display(flex);
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  [class^="col-"] {
    float: none;
  }
}

/* service block styles */
.service-block {
  @include padding(null null 45px 106px);
  position: relative;

  @include media('<desktop') {
    @include padding(null null 30px 75px);
  }

  h3 {
    @include margin(0 null 11px);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;

    a {
      color: #1c1c1c;
      display: inline-block;
      vertical-align: top;

      &:hover,
      &:focus {
        text-decoration: none;

        &:before {
          transform: none;
          opacity: 1;
        }

        [class^="icon-"] {
          color: $brand-info;
        }
      }

      &:before {
        content: '';
        position: relative;
        top: -10px;
        left: 0;
        width: 15px;
        height: 2px;
        margin-bottom: -2px;
        background: $brand-info;
        display: block;
        transform: translateX(-100%);
        opacity: 0;
        @include animate(transform opacity);
      }
    }

    [class^="icon-"] {
      position: absolute;
      top: -2px;
      left: 0;
      font-size: 56px;
      @include animate(color);

      @include media('<desktop') {
        font-size: 45px;
      }

      &.icon-im-online-support {
        font-size: 62px;

        @include media('<desktop') {
          font-size: 46px;
        }
      }

      &.icon-im-business-strategy {
        font-size: 49px;
        top: 4px;

        @include media('<desktop') {
          font-size: 43px;
        }
      }

      &.icon-im-clock {
        font-size: 58px;

        @include media('<desktop') {
          font-size: 46px;
        }
      }
    }
  }
}

/* client testimonial block styles */
.client-testimonial {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;

  &.gray {

    q:before {
      color: rgba($gray-base, .1);
    }
  }

  &.blue {

    q:before {
      color: rgba($brand-info, .15);
    }
  }

  &.orange {

    q:before {
      color: rgba($brand-primary, .3);
    }
  }

  q {
    display: block;
    quotes: none;
    position: relative;

    &:before {
      content: "\e904";
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -1;
      @include font(normal, 62px, 1, 'icomoon');
    }
  }

  cite {
    font-style: normal;
    @include v-align-pair(thumb, des);
    padding-top: 41px;
  }

  .thumb {
    @include size(68px);
    overflow: hidden;

    img {
      @include img-reset;
      border-radius: 50%;
    }
  }

  .des {
    @include padding(9px null null 39px);
  }

  .name {
    display: block;
    color: #1c1c1c;
    font-weight: 800;
    line-height: 1;
    font-family: $font-face-sans-serif-sec;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.posts-wrap {
  @include padding(null null 35px 19px);

  @include media('<desktop') {
    @include padding(30px null 20px 0);
  }

  @include media('<tablet') {
    padding-top: 20px;
  }

  + .btn {
    margin-left: 19px;

    @include media('<desktop') {
      margin-left: 0;
    }
  }
}

/* news post styles */
.news-post {
  padding-bottom: 18px;
  margin-bottom: 36px;
  border-bottom: 1px solid #d8dcdf;

  &.style-1 {
    padding-top: 2px;

    header {
      float: left;
      width: 98px;
      @include padding(0 30px 0 null);
      position: relative;
      margin-top: -6px;

      @include media('<tablet') {
        width: 83px;
        padding-right: 15px;
      }

      .h-row {
        position: relative;
        padding-bottom: 17px;
        margin-bottom: 15px;
        border-bottom: 1px solid $brand-primary;
        display: block;
        line-height: 1.25;
        text-align: right;

        &:after {
          @include size(14px, 1px);
          background: #1c1c1c;
          position: absolute;
          bottom: -1px;
          left: 0;
          content: '';
        }

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;

          &:after {
            content: none;
          }
        }

        time {
          font-weight: 400;
          font-size: 14px;
          color: #1c1c1c;
          text-transform: none;
        }

        .number,
        [class^="icon-"] {
          display: block;
          color: #1c1c1c;
          @include fz-lh-fw(30px, 1, 700);
          margin-bottom: 3px;
        }

        [class^="icon-"] {
          @include animate(color);
          margin-right: 6px;
        }

        a {
          color: $gray-base;

          &:hover,
          &:focus {
            text-decoration: none;
            color: $brand-primary;

            [class^="icon-"] {
              color: $brand-primary;
            }
          }
        }
      }
    }

    .des {
      overflow: hidden;

      .img {
        display: block;
        margin-bottom: 35px;
        overflow: hidden;

        @include media('<tablet') {
          margin-bottom: 20px;
        }

        &:hover {

          img {
            transform: scale(1.1);
          }
        }

        img {
          @include img-reset;
          transition: transform 0.7s ease-in-out;
        }
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  header {
    padding-bottom: 15px;
  }

  h3 {
    text-transform: uppercase;
    @include fz-lh(16px, 1.1);
    @include margin(0 null 10px);
    letter-spacing: 2px;

    a {
      color: #1c1c1c;

      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }

  time {
    display: block;
    color: $brand-primary;
    text-transform: uppercase;
    @include fz-lh-fw(12px, 1.1, 700);
  }
}

/* pyramid styles */
.has-pyramid {
  position: relative;
  z-index: 0;

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    right: 19px;
    display: block;

    @include media('<tablet') {
      right: 19px;
    }
  }

  &:before {
    @include triangle(155px 101px, $brand-info, up);
    z-index: -2;
    right: 82px;

    @include media('<tablet') {
      right: 64px;
      border-width: 0 57px 80px;
    }
  }

  &:after {
    @include triangle(135px 70px, $brand-primary, up);
    z-index: -1;

    @include media('<tablet') {
      border-width: 0 47px 50px;
    }
  }
}

.form-group {
  position: relative;
}

.form-control {
  @include fz-lh-fw(14px, 1.2, 400);
  padding: 9px 19px;
}

.input-placeholder-text {
  @include fz-lh-fw(14px, 1.2, 400);
  top: 15px;
  left: 20px;

  &:after {
    content: "*";
    color: $brand-primary;
    margin-left: 5px;
  }
}