/* footer styles */
#footer {
  background: #2a2b2c;
  color: #8e8e8e;
  @include fz-lh-fw(13px, 1.2, 600);

  .container {
    @include padding(80px null);

    @include media('<widescreen') {
      @include padding(50px null);
    }

    @include media('<tablet') {
      @include padding(25px null);
    }

    [class^="col-"] {
      @include media('<tablet') {
        padding-bottom: 25px;
        margin-bottom: 20px;
        position: relative;
      }

      &:after {
        @include media('<tablet') {
          content: '';
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 0;
          background: #373839;
          height: 1px;
        }
      }

      &:last-child {
        @include media('<tablet') {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        &:after {
          @include media('<tablet') {
            content: none;
          }
        }
      }
    }
  }

  h2 {
    text-transform: uppercase;
    color: $white;
    letter-spacing: -1px;
    @include font(700, 18px, 1.1, $font-family-sans-serif);
    @include margin(0 null 36px);

    @include media('<tablet') {
      margin-bottom: 17px;
    }
  }

  .logo {
    @include margin(44px null 16px);

    @include media('<desktop') {
      margin-top: 0;
    }
  }

  .copyright {
    padding-bottom: 37px;
  }

  .form-control {
    font-weight: 400;
  }

  .footer-nav {

    h2 {
      margin-bottom: 23px;

      @include media('<tablet') {
        margin-bottom: 17px;
      }
    }
  }
}

.copyright {
  display: block;
  text-transform: uppercase;
}

/* social networking options styles */
.social-networks {
  @include listreset;
  @include clearfix;

  li {
    float: left;
    margin-right: 9px;
  }

  a {
    display: block;
    border: 1px solid #373839;
    color: #8a8a8a;
    text-align: center;
    @include size(29px);
    @include add-elem;

    &:hover,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
      border-color: $brand-primary;

      &:after {
        border-color: $brand-primary;
        animation-name: border-fade-out;
      }
    }

    &:after {
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      border: 1px solid transparent;
      animation-duration: 1s;
    }

    i {
      font-size: 15px;
      line-height: 1.9;

      &.icon-im1-google {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }
}

.footer-nav {

  ul {
    @include listreset;
    text-transform: uppercase;
    max-width: 165px;
    letter-spacing: 1px;

    @include media('<widescreen') {
      max-width: 250px;
    }

    li {
      @include padding(11px 11px 11px null);

      + li {
        border-top: 1px solid #373839;
      }
    }

    a {
      color: #7b7b7c;
      display: inline-block;
      vertical-align: top;
      @include add-elem(before);
      padding-left: 25px;

      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: none;
      }

      &:before {
        top: 5px;
        @include triangle(8px 4px, $brand-primary, right);
      }
    }
  }
}

/* contact form styles */
.contact-form {

  .form-inline {
    @include dib-reset;

    .form-group {
      width: 50%;
      margin-bottom: -1px;

      @include media('<desktop') {
        width: 100%;
      }

      &:nth-child(even) {

        .form-control {
          border-left-color: transparent;

          @include media('<desktop') {
            border-left-color: #373839;
          }
        }
      }

      .form-control {
        display: block;
        width: 100%;
      }
    }
  }

  textarea {
    resize: none;
    min-height: 97px;
    width: 100%;
    max-width: 100%;
  }

  .form-group {
    margin-bottom: 0;
    @include add-elem;

    &.input-error {

      &:after {
        border-color: #f00;
      }
    }

    &:after {
      right: 0;
      bottom: -1px;
      border: 1px solid transparent;
      pointer-events: none;
    }
  }

  .btn-submit {
    padding-top: 10px;
  }

  .form-control {
    box-shadow: none;

    &:focus {
      box-shadow: none;
      border-color: #373839;
    }
  }
}

@-webkit-keyframes border-fade-out {
  100% {
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    opacity: 0;
  }
}

@keyframes border-fade-out {
  100% {
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    opacity: 0;
  }
}