/* header styles */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.navbar-default {

  .navbar-toggle {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 9px 0 0;
    z-index: 1;

    &:hover {
      background: none;

      .icon-bar {
        background: $brand-info;
      }
    }

    &:focus {
      background: none;
    }

    &.collapsed {

      &:hover {
        .icon-bar {
          background: $brand-primary;
        }
      }
    }

    .icon-bar {
      background: $white;
      @include animate(background);
    }
  }
}

/* navbar styles */
.navbar {
  border-width: 0 0 1px;

  .container {
    @include padding(26px null 29px);

    @include media('<desktop') {
      @include padding(18px null);
    }
  }

  .navbar-text {
    margin: 8px 0 0 22px;
    padding-left: 23px;
    @include add-elem;
    font-weight: 600;

    @include media('<widescreen') {
      @include margin(8px null null 10px);
      padding-left: 10px;
    }

    @include media('<desktop') {
      @include margin(7px null null 7px);
      font-size: 12px;
      padding-left: 8px;
    }

    @include media('<tablet') {
      margin-top: 9px;
      padding-left: 7px;
      font-size: 10px;
      float: left;
    }

    &:after {
      width: 1px;
      background: rgba($white, .15);

      @include media('<desktop') {
        top: 3px;
        bottom: 3px;
      }

      @include media('<tablet') {
        bottom: 2px;
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $brand-primary;
      }

      [class^="icon-"] {
        color: $brand-primary;
        font-size: 21px;
        position: relative;
        top: 6px;
        margin-right: 7px;

        @include media('<desktop') {
          font-size: 16px;
          top: 3px;
          margin-right: 3px;
        }

        @include media('<tablet') {
          font-size: 11px;
          margin-right: 1px;
          top: 1px;
        }
      }
    }
  }

  .navbar-collapse {
    @include media('<tablet') {
      box-shadow: none;
      border-top: none;
      @include margin(null 0);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $brand-primary;
      height: auto !important;
      display: block !important;
      transform: scale(0);
      transform-origin: top right;
      @include animate(transform);
    }

    &.in {
      @include media('<tablet') {
        transform: none;
        overflow: hidden;
      }
    }
  }
}

.navbar-brand {
  height: auto;
}

/* page logo styles */
.logo {
  @include size(164px, auto);
  position: relative;
  z-index: 1;

  @include media('<desktop') {
    width: 130px;
  }

  img {
    @include img-reset;
  }
}

/* main navigation styles */
.navbar-nav {
  @include margin(4px -23px null);

  @include media('<widescreen') {
    @include margin(null -12px);
  }

  @include media('<desktop') {
    @include margin(0 -8px null);
  }

  @include media('<tablet') {
    @include margin(66px 0 0);
    max-height: calc(100% - 66px);
    overflow-y: auto;
  }

  >li {
    padding: 5px 23px;

    @include media('<widescreen') {
      @include padding(null 12px);
    }

    @include media('<desktop') {
      @include padding(null 8px);
    }

    @include media('<tablet') {
      padding: 0;
      border-bottom: 1px solid rgba($white, 0.15);
    }

    &.active {

      >a {
        font-weight: 700;

        @include media('<tablet') {
          color: $brand-info !important;
        }
      }
    }

    &:first-child {
      @include media('<tablet') {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
      }
    }

    >a {
      text-transform: uppercase;
      font-weight: 600;
      padding: 0;

      @include media('<widescreen') {
        font-size: 13px;
      }

      @include media('<desktop') {
        font-size: 12px;
      }

      @include media('<tablet') {
        padding: 10px 15px;
        font-size: 15px;
        text-align: center;
      }

      &:hover,
      &:focus {
        @include media('<tablet') {
          color: $brand-info !important;
        }
      }
    }
  }
}